{% extends "layouts/admin.html" %}

{% block title %} Create Shipper Exports {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <form class="form-horizontal form-label-left" method="POST" novalidate>
                {% csrf_token %}

                <!--p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                </p-->
                <span class="section">Create Shipper Exports</span>

                <div class="item form-group  {% if form.itn.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">ITN <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.itn}}
                   {% if form.itn.errors %}
                  {% for error in form.itn.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>

                <div class="item form-group  {% if form.date.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.date}}
                   {% if form.date.errors %}
                  {% for error in form.date.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
               <div class="item form-group  {% if form.refrence.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Reference <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.refrence}}
                   {% if form.refrence.errors %}
                  {% for error in form.refrence.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="item form-group  {% if form.name.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.name}}
                   {% if form.name.errors %}
                  {% for error in form.name.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="item form-group  {% if form.vin.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">VIN <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.vin}}
                  <span class="error text-danger" id="vin_custom_error"></span>
                  {% if form.vin.errors %}
                  {% for error in form.vin.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="item form-group  {% if form.make.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Make<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.make}}
                   {% if form.make.errors %}
                  {% for error in form.make.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="item form-group  {% if form.year.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Year<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.year}}
                   {% if form.year.errors %}
                  {% for error in form.year.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="item form-group  {% if form.note.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Notes
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.note}}
                   {% if form.note.errors %}
                  {% for error in form.note.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><a href="{%url 'shipper'%}" style="color:white">Cancel</a></button>
                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script>
    $(document).ready(function () {
      $("#id_vin").keyup(function(){
        var vin = $(this).val()
        
        if (vin.length < 17){
          $("#vin_custom_error").text("VIN is not 17 digit.")

          

        }else if (vin.length == 17){
            $("#vin_custom_error").text("Ok.")
        }else{
          $("#vin_custom_error").text("VIN is above 17 digit.")

        }

      });
      $("#id_vin").on('input',function () {
      var vin = $(this).val()
      console.log(vin);
      $.ajax({
        type:"GET",
        url: '/shipper/shipper-vin/',
        data: {
          'id': vin
        },
        dataType: 'json',
        success: function (data) {
          console.log(data.make);
          console.log(data.year);
          $("#id_make").val(data.make);
          $("#id_year").val(data.year);

         
        }
      });

    });

    });
  </script>


  
{% endblock javascripts %}




