{% extends "layouts/admin.html" %}

{% block title %} Create Insurance {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <form class="form-horizontal form-label-left" method="POST" novalidate>
                {% csrf_token %}

                <!--p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                </p-->
                <span class="section">Create Insurance </span>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Type <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="type" class="form-control col-md-7 col-xs-12" name="type"
                     value = ""   required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">INSURER <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="insurer" class="form-control col-md-7 col-xs-12" name="insurer"
                     value = ""   required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Policy<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="policy_number" class="form-control col-md-7 col-xs-12" name="policy_number"
                     value = ""   required="required" type="text">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Date <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ins_date" class="form-control col-md-7 col-xs-12" name="ins_date"
                     value = ""   required="required" type="date">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ins_name" class="form-control col-md-7 col-xs-12" name="ins_name"
                    value = "" 
                    required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Days <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="ins_days" name="ins_days" value = ""required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">VIN<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="ins_vin" name="ins_vin" value = ""required="required" class="form-control col-md-7 col-xs-12">
                    <span class="error text-danger" id="vin_custom_error"></span>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Make<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="ins_make" name="ins_make" value = ""required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Year<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="ins_year" name="ins_year" value = ""required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Notes
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea type="textarea" id="ins_notes" name="ins_notes" value = "" class="form-control col-md-7 col-xs-12"></textarea>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><a href="{%url 'insurance' %}"style="color:white">Cancel</a></button>
                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}

  <script>
    $("#ins_vin").change(function () {
      var vin = $(this).val()
      console.log(vin);
      $.ajax({
        type:"GET",
        url: '/insurance/insurance-vin/',
        data: {
          'id': vin
        },
        dataType: 'json',
        success: function (data) {
          console.log(data.make);
          console.log(data.year);
          $("#ins_make").val(data.make);
          $("#ins_year").val(data.year);

         
        }
      });

    });
    $(document).ready(function () {
      $("#ins_vin").keyup(function(){
        var vin = $(this).val()
        
        if (vin.length < 17){
          $("#vin_custom_error").text("VIN is not 17 digit.")

          

        }else if (vin.length == 17){
            $("#vin_custom_error").text(" Ok.")


        }else{
          $("#vin_custom_error").text("VIN is above 17 digit.")

        }

      });

    });
  </script>




  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}

  



