{% comment %} {%include "header/header.html"%}
{%block start%}



<div class="container">
<div class="row">
<div class="col-lg-6">
<h3>Buy a membership</h3>
{% comment %} <p>You can Buy 3 type of subscription</p> {% endcomment %}

<form action="/stripe-checkout/" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="from-group">
<label>Membership type</label>
{% comment %} <select class="from-control" name="plan"> {% endcomment %}
  <p class="Membership_monthly">
    Includes<br>
    Access to build as many models as you want<br>
    Save ten models per week<br>
    Ability to sell picks to other members<br>
    Access to daily/weekly leaderboard
  </p>
  <div>
  
      <button class="btn btn-success btn-lg">Checkout</button>
</div>
  </div>
 
 </div>

</div>
</div>




{% comment %} <Option value="daily">Monthly membership</options> {% endcomment %}
{% comment %} <Option value="Enterprise">Enterprise</options>
<Option value="daily">Daily</options>   {% endcomment %}
{% comment %} </select> {% endcomment %}

</div>

    {% comment %} <form action="/stripe-checkout/" method="POST" enctype="multipart/form-data"> {% endcomment %}
        {% csrf_token %}
      <button class="btn btn-success btn-lg">Checkout</button>
    </form>
    </div>

</form>

{%endblock%} {% endcomment %}