{%include "header/header.html"%}
<style>

    .container.text-center.box_size {
        height: 500px;
    }

    .container.text-center.box_size h3 {

        color:red;
    }


</style>
{% block content %}


<div class="container text-center box_size">
<br><br><br><br>
<h3>Your subscription is now active!</h3>
<br><br>
<a class="btn btn-primary text-light" href="/">Return Home</a>
<br><br>
<a class="btn btn-danger text-light" href="/stripe-checkout/cancel/">Cancel Subscription</a>
</div>
{%include "header/footer.html"%}

{% endblock %}
<script>
    
    $(document).ready(function(){
      
    if(performance.navigation.type == 2){
     
        location.href="http://3.86.247.236:8000/"
   }
  });
  </script>