{% extends "layouts/admin.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}

  {{ block.super }}

  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <form class="form-horizontal form-label-left" method="GET" novalidate>
              <div class="row">
              <div class="col-md-4 item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Start Date <span class="required">*</span>
                  </label>
                  <div class="col-md-9 col-sm-6 col-xs-12">
                    <input id="start_date" class="form-control col-md-7 col-xs-12" name="start_date"
                     value = "" required="required"  type="date">
                  </div>
              </div>
              <div class="col-md-4 item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">End Date <span class="required">*</span>
                  </label>
                  <div class="col-md-9 col-sm-6 col-xs-12">
                    <input id="end_date" class="form-control col-md-7 col-xs-12" name="end_date"
                     value = "" required="required" type="date">
                  </div>
              </div>
              <div class=" col-md-4 form-group">
                  <div class="col-md-6 ">
                    <button id="send" type="submit" class="btn btn-success">Search</button>
                  </div>
              </div>
            </div>

            </form>        

          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Providers</h2>
               <a href="{% url 'providerIndex' %}" style="float:right;"><i class="fa fa-plus mr-2"></i> Create New Provider</a>
             
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Address</th>
                    <th>Tax Id</th>
                    <th>Action</th>
                  </tr>
                </thead>


                <tbody>
                  {% for employee in employee_list %}
                  <tr>
                    <td>{{employee.name}}</td>
                    <td>{{employee.owner}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.tax_id}}</td>
                    <td>
                      <a href="{% url 'providerupdate' employee.id %}" class="btn text-secondary px-0">
                        <i class="fa fa-pencil" style="font-size:28px;color:green"></i>
                      </a>
                      <a href="{% url 'providerdelete' employee.id %}" class="btn text-secondary px-0" onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fa fa-trash-o danger " style="font-size:28px;color:red"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
         </div>
      </div>
  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}

