{% extends "layouts/admin.html" %}

{% block title %} Create Customer {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data"novalidate>
                {% csrf_token %}

                <!--p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                </p-->
                <span class="section">Customer Add</span>

                <div class="item form-group  {% if form.passport_id.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Passport Id <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.passport_id}}
                   {% if form.passport_id.errors %}
                  {% for error in form.passport_id.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                
                <div class="item form-group  {% if form.upload_passport_image.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Upload Passport Image<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.upload_passport_image}}
                   {% if form.upload_passport_image.errors %}
                  {% for error in form.upload_passport_image.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                
                <div class="item form-group  {% if form.passport_expiry.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Passport Expiry<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.passport_expiry}}
                   {% if form.passport_expiry.errors %}
                  {% for error in form.passport_expiry.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>

    

                <div class="item form-group {% if form.name.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.name}}
                  {% if form.name.errors %}
                  {% for error in form.name.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}

                  </div>
                </div>
                <div class="item form-group  {% if form.address.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Address <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.address}}
                  {% if form.address.errors %}
                  {% for error in form.address.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>

                <div class="item form-group  {% if form.city.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">City <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.city}}
                  {% if form.city.errors %}
                  {% for error in form.city.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                
                 <div class="item form-group  {% if form.state.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">State<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.state}}
                  {% if form.state.errors %}
                  {% for error in form.state.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
               
                <div class="item form-group {% if form.country.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Country<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.country}}
                  {% if form.country.errors %}
                  {% for error in form.country.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>

                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">RFC
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.rfc}}
                   
                  
                  </div>
                </div> 
               
                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Curp
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.curp}}
                  
                  </div>
                </div>
                <div class="item form-group {% if form.phone.errors %} has-error  {% endif %}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Phone<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  {{form.phone}}
                  {% if form.phone.errors %}
                  {% for error in form.phone.errors %}
                    <span class="error text-danger">
                      <strong>{{ error|escape }}</strong>
                    </span>
                  {% endfor %}
                  {% endif %}
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><a href="{% url 'customer'%}"style="color:white">Cancel</a></button>
                    <button id="send" type="submit" class="btn btn-success">Add</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


