{% extends "layouts/admin.html" %}

{% block title %} Create Customer {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <!--p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                </p-->
                <span class="section">Customer Update</span>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Passport Id <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="passport_Id" class="form-control col-md-7 col-xs-12" name="passport_Id"
                     value = "{{customer.passport_id}}"   required="required" type="number">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Upload Passport Image <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if customer.passport_upload %}
                    <img  src ="{{ customer.passport_upload.url}}" width = "40px" height="40px"/><br/>
                    {% endif %}
                    <input id="pass_image" class="form-control col-md-7 col-xs-12" name="pass_image"
                      type="file">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Passport Expiry <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="passport_expiry" class="form-control col-md-7 col-xs-12" name="passport_expiry"
                     value = "{{customer.passport_expiry|date:'Y-m-d'}}"   required="required" type="date">
                  </div>
                </div>
          

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" name="name"
                    value = "{{customer.name}}" 
                    required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Address <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="address" name="address" value = "{{customer.address}}"required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">City <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="city" class="form-control col-md-7 col-xs-12" name="city"
                    value = "{{customer.city}}" 
                    required="required" type="text">
                  </div>
                </div>

                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">State <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="state" class="form-control col-md-7 col-xs-12" name="state"
                    value = "{{customer.state}}" 
                    required="required" type="text">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Country<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="country" name="country" value = "{{customer.country}}"  required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                 <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">RFC
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="rfc" name="rfc" value = "{{customer.rfc}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Curp
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="curp" id="rfc" name="curp" value = "{{customer.curp}}"  class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Phone<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="phone" name="number" value = "{{customer.phone}}"required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Email<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="email" id="email" name="email" value = "{{customer.email}}"required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary"><a href="{% url 'customer'%}"style="color:white">Cancel</a></button>
                    <button id="send" type="submit" class="btn btn-success">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}


