{% extends "layouts/admin.html" %}

{% block title %} Inventory {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}


  <div class="right_col" role="main">

    <div class="">

       <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
                    <div class="row">
               

                    <div class="col-md-12">
                  <div class="table-responsive">
                   <!--  <div>
                      <img  src ="{{ custom.passport_upload.url}}"/>
                    </div> -->
                    <table id="w0" class="table table-striped table-bordered detail-view">
                      <tbody>
                        <tr>
                          <th>ID</th>
                          <td colspan="1">{{custom.id}}</td>
                          <th>Passport Id</th>
                          <td colspan="1">{{custom.passport_id}}</td>
                        </tr>
                                    <tr>
                                      <th>Passport Image</th>
                                      <td colspan="1"><u><a href="{{ custom.passport_upload.url}}"target="_blank">{{custom.passport_upload}}</a></u></td>
                                      <th>Passport Expiry</th>
                                      <td colspan="1">{{custom.passport_expiry}}</td>
                                    </tr>
                                   
                                     <tr>
                                      <th>Name</th>
                                      <td colspan="1">{{custom.name}}</td>
                                      <th>City</th>
                                      <td colspan="1">{{custom.city}}
</td>
                                    </tr>
                                   <tr>
                                      <th>State</th>
                                      <td colspan="1">{{custom.state}}</td>
                                      <th>Country</th>
                                      <td colspan="1">{{custom.country}}</td>
                                    </tr>
                                    <tr>
                                      <th>Phone</th>
                                      <td colspan="1">{{custom.phone}}</td>
                                        <th>Email</th>
                                      <td colspan="1">{{custom.email}}</td>
                                     
                                    </tr>
                                    
                               </tbody>
                           </table>
                       </div> 
                    </div>


              </div>

            </div>
          </div>
        </div>
      
      

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}

