
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
	.sidebar_image.rounded {
    width: 100%;
    height: 600px;
}
.sidebar_image.rounded img{
    width: 100%;
    height: 100%;
}

button.btn.btn-primary.Sign_Up {
    width: 200px;
    border-radius: 20px;
    border: 2px solid #c677e1;
    background-image: linear-gradient(#c37ae7, #e65aaa);
}

span.text-right.sign_in {
    display: flex;
    align-items: end;
    justify-content: right;
}
i.fa.fa-long-arrow-right {
    margin-left: 20px;
}
  </style>
</head>
<body>

<div class="container">
	<div class="row mt-5 mb-5">
		<div class="col-md-7">
		<div class="sidebar_image rounded">
		<img src="/static/image/demo.jpg" class="" alt="Cinque Terre">
		</div>
		</div>
		<div class="col-md-5 ">
            {% comment %} {{form.as_p}} {% endcomment %}
		  <h2 class="text-center mb-3">Sign Up</h2>
		  <form method="POST">
              {% csrf_token %}
			<div class="form-group">
                {{form.as_p}}
{% comment %} 
			  <label for="Name">Full Name:</label>
			  <input type="text" class="form-control" id="FullName" placeholder="Full Name" name="Name">
			</div>
			<div class="form-group">
			  <label for="email">Email:</label>
			  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
			</div>
			<div class="form-group">
			  <label for="User">User Name:</label>
			  <input type="text" class="form-control" id="UserName" placeholder="Username" name="Name">
			</div>
			<div class="form-group">
			  <label for="pwd">Password:</label>
			  <input type="password" class="form-control" id="pwd" placeholder="................" name="pswd">
			</div>
			<div class="form-group">
			  <label for="rpwd">Repeat Password:</label>
			  <input type="password" class="form-control" id="rpwd" placeholder="................" name="pswd">
			</div>
			<div class="form-group form-check">
			  <label class="form-check-label">
				<input class="form-check-input" type="checkbox" name="remember"> I agree to the Terms of user
			  </label>
			</div> {% endcomment %}
			<div class="row">
				<div class="col-md-6">
					<input type="submit" name="commit" value="Create my account" class="btn-xl btn-primary btn-wrap-text" data-disable-with="Create my account" />
				</div>
			</div>
		  </form>
		</div>
	</div>
</div>
</body>
</html>
