{% extends "layouts/admin.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

<!--    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->
   <style type="text/css">
     .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.col-md-6.col-sm-6.col-xs-12.left-side {
    position: relative;
    right: 30px;
}


.col-md-2.form-group.left {
    position: relative;
    right: 135px;
}
/*.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
}*/
.col-md-6.col-sm-6.col-xs-12.left-input {
    position: relative;
    right: 40px;
}


.col-md-2.form-group.left-search {
    position: relative;
    right: 307px;
}
.col-md-6.col-sm-6.col-xs-12.left-input {
    width: 158px;
    position: relative;
    right: 70px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
   </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <form class="form-horizontal form-label-left" method="GET" action="" novalidate>
              <div class="row">
              <div class="col-md-4 item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Select
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 left-side">
                    <input id="rangepicker" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" name="date" type="text">
                  </div>
              </div>
              <div class="col-md-2 form-group left">
                  <div class="col-md-3">
                    <button id="send" type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"> Search </i></button>
                  </div>
              </div>
              
            </form>              

        </div>
      </div>
    </div>
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Pedimentos</span>
        <div class="count">{{pedi}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-ship"></i> Shippers</span>
        <div class="count">{{shipp}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-medkit"></i> Insurances</span>
        <div class="count green">{{insurance}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Temp Permits</span>
        <div class="count">{{temp}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Titles</span>
        <div class="count">{{count}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Customers</span>
        <div class="count">{{custom}}</div>
      </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <form class="form-horizontal form-label-left" method="GET" action="" novalidate>
              <div class="row">
              <div class="col-md-6 item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Search
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 left-input">
                    <input type="search" id="data" class="form-control col-md-7 col-xs-12" name="data" value = "{{search}}" required="required">
                  </div>
              </div>
              <div class="col-md-2 form-group left-search">
                  <div class="col-md-3">
                    <button id="send" type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"> Search </i></button>
                  </div>
              </div>
              
            </form>              

        </div>
      </div>
    </div>


    {% if shipper or temp_permit or released or insuran %}
    <div class="clearfix">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>table</th>
                    <th>Name</th>
                    <th>Vin</th>
                    <th>Make</th>
                  </tr>
                </thead>

                <tbody>
                  {% for a in shipper %}
                  <tr>
                    <td><a href="shipper">Shipper</a></td>
                    <td><a href="shipper">{{a.name}}</a></td>
                    <td><a href="shipper">{{a.vin}}</a></td>
                    <td><a href="shipper">{{a.make}}</a></td>
                  </tr>
                  {% endfor %}
                  {% for b in temp_permit %}
                  <tr>
                    <td><a href="temp_permits">Temporary_permit</a></td>
                    <td><a href="temp_permits">{{b.permit_name}}</a></td>
                    <td><a href="temp_permits">{{b.permit_vin}}</a></td>
                    <td><a href="temp_permits">{{b.permit_make}}</a></td>
                  </tr>
                  {% endfor %}
                  {% for c in released %}
                  <tr>
                    <td><a href="released">Released</a></td>
                    <td><a href="released">{{c.name}}</a></td>
                    <td><a href="released">{{c.vin}}</a></td>
                    <td><a href="released">{{c.make}}</a></td>
                  </tr>
                  {% endfor %}
                  {% for d in insuran %}
                  <tr>
                    <td><a href="insurance">Insurance</a></td>
                    <td><a href="insurance">{{d.ins_name}}</a></td>
                    <td><a href="insurance">{{d.vin}}</a></td>
                    <td><a href="insurance">{{d.make}}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  {% elif not search|length < 1 %}
  <ul>
    <li><p>No search results</p></li>
    <li>Your search query:<b>{{search}}</b> did not match any documents.</br></li>
    Suggestions:
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
     
    
    </ul>
  {% endif %}

<!--     <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3>Network Activities <small>Graph title sub-title</small></h3>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
              <h2>Top Campaign Performance</h2>
              <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              <div>
                <p>Facebook Campaign</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="99"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Twitter Campaign</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div>
                <p>Conventional Media</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Bill boards</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div> -->

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile ">
          <div class="x_title">
            <h2>Shipper Exports</h2>
            <table id="daterange" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>Name</th>
                  <th>Vin</th>
                  <th>Referece</th>

                </tr>
              </thead>
              <tbody>
              {% for shipper in show %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{shipper.name}}</td>
                <td>{{shipper.vin}}</td>
                <td>{{shipper.refrence}}</td>       
              </tr>
              {%endfor%}
              </tbody>                 
            </table>      

          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Insurance</h2>
            <table id="daterange1" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>VIN</th>
                  <th>Type</th>
                  <th>Days</th>
                </tr>
              </thead>
              <tbody>            
                {% for insurance in shows %}                         
                <tr>
                  <td>{{forloop.counter}}</td>    
                  <td>{{insurance.ins_name}}</td>
                  <td>{{insurance.vin}}</td>
                  <td>{{insurance.Type}}</td>
                  <td>{{insurance.days}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>          
          </div>
        </div>
      </div>
 -->

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2>Temporary Permits</h2>  
          <table id="daterange2" class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>VIN</th>
                  <th>Make</th>
                  <th>Hours</th>

                </tr>
              </thead>
              <tbody>
                  {% for permits in display%}           
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{permits.permit_name}}</td>
                  <td>{{permits.permit_vin}}</td>
                  <td>{{permits.permit_make}}</td>
                  <td>{{permits.permit_hour}}</td>

                </tr>
                {%endfor%}
              </tbody>
            </table> 
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script>
    $(document).ready(function() {
    $("#b-navbar-fg").hide();
});
</script>


    <script type="text/javascript">
    $(function() {
    
        var start = moment().subtract(29, 'days');
        var end = moment();
    
        function cb(start, end) {
            $('#rangepicker ').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    
        $('#rangepicker').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
               'All': [moment().subtract( 'years').startOf('years'), moment().subtract( 'yearRange').endOf('yearRange')],




            }
        }, cb);
    
        cb(start, end);
    
    });

    



 $(document).ready(function() {
    $('#daterange').DataTable({"searching": false,"lengthChange": false});
    $('#daterange2').DataTable({"searching": false,"lengthChange": false});
});
</script>
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>

  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
 
{% endblock javascripts %}
